#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments",         "Tab Mix Plus\0"
            VALUE "CompanyName",      "Tab Mix Plus\0"
            VALUE "FileDescription",  "Admin Copy Helper\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "helper_win.exe\0"
            VALUE "LegalCopyright",   "Copyright 2026 Tab Mix Plus\0"
            VALUE "OriginalFilename", "helper_win.exe\0"
            VALUE "ProductName",      "Admin Copy\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END